
<h1>{{pollObj.question}}</h1>

<div class="form-check" *ngFor="let option of options">
  <input class="form-check-input" type="radio"  value={{option.value}} name={{option.text}} [(ngModel)]="selectOpt">
  <label class="form-check-label" for="angular">
    {{option.text}}
  </label>
</div>
<button type="submit" class="btn btn-primary" (click)="sendVote()">Vote</button>



<div style="display: block;">
  <canvas baseChart 
    [data]="pieChartData" 
    [labels]="pieChartLabels" 
    [chartType]="pieChartType"
    [options]="pieChartOptions"
    [plugins]="pieChartPlugins"
    [legend]="pieChartLegend">
  </canvas>
</div>

<!--NG FOR-->